<article class="message is-light">
  <div class="message-header">
  <p>
    <a href="/post/{{id}}">
      <div class="title">{{title}}</div>
    </a>
  </p>
    <div class="content">Posted By {{user.username}} on {{format_date created_at}}</div>
        {{#if loggedIn}} 
    <button class="delete" aria-label="delete"></button>
    {{/if}} 
  </div>
  <div class="message-body">
  {{content}}
  </div>
</article>
